<div class="blog-list card-columns" id="bloglist"></div>
<script id="blog-card" type="text/template">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{Id}} -
                {{Title}}
            </h5>
            <p class="cardtext">{{ShortDescription}}</p>
            <button class="btn btnprimary">ir</button>
        </div>
    </div>
</script>
